page-home {
    ion-title{
        align-content: center;
        text-align: center;
        }
    #loginNow{
        margin-top: 20px;
        background-color: #076307;
        font-size: 16px;
        color: whitesmoke;
    }
    ion-list{
        margin-top: 20px;
        align-content: center;
        text-align: center;
    }
}
